<style>
  html {
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin: auto;
    max-width: min(90vw, 900px);
    padding: 2rem 0 4rem 0;
  }

  header ul {
    margin: 0;
    padding: 0;
  }

  header ul li {
    display: inline-block;
    font-size: 0.8rem;
    padding: 0 1rem 0 0;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 2rem;
  }

  time + h2 {
    margin-top: 0;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  img {
    max-width: 100%;
  }

  time {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
  }

  code {
    font-size: 0.8rem;
  }

  .highlight pre {
    padding: 10px;
    overflow-x: scroll;
  }

  hr {
    padding: 0;
    margin: 3em auto;
    background: none;
    max-width: 80%;
    border: none;
    border-top: 2px solid lightgrey;
  }

  blockquote {
    font-style: italic;
    border-left: 2px solid lightgrey;
    margin: 0;
    padding-left: 20px;
  }

  article {
    word-wrap: break-word;
  }
</style>
